.TodoList {
  margin: 20px;
  overflow-y: scroll;
  height: 700px;
  width: 420px;
}

.TodoList__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TodoList__info h4 {
  margin: 4px 0;
}

.TodoList hr {
  border: 1px solid rgb(255, 255, 255);
}

.TodoList Button {
  background-color: #f89571;
  padding: 10px;
  outline: none;
}

.TodoList Button :hover {
  background-color: #ff7f50, 125, 80);
  transition: border-color 0.35s;
}

.TodoList__buttons {
  display: flex;
  gap: 10px;
}
